/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url('components/banner.css');
@import url('components/button.css');
@import url('components/card.css');
@import url('components/container.css');
@import url('components/footer.css');
@import url('components/nav.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.text-center {
  text-align: center;
  padding: 0;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }

  .cards {
    display: grid;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }

  .cards {
    display: grid;
  }
}
